/* General CSS */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-display: "SF Pro Display", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

/* Header Styles */

header {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
}

.nav-link {
  font-size: 1.4rem;
  color: white;
  padding: 0 1rem;
  transition: opacity .5s;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link-apple {
  width: 1.6rem;
  height: 4.4rem;
  background: url('./assets/icons/apple.svg') center no-repeat;
}

.nav-link-search {
  width: 1.6rem;
  height: 4.4rem;
  background: url('./assets/icons/search.svg') center no-repeat;
}

.nav-link-bag {
  width: 1.4rem;
  height: 4.4rem;
  background: url('./assets/icons/bag.svg') center no-repeat;
}

.nav-list-mobile {
  display: none;
}

/* Header END */

/* Top section style */

.iphone-11-pro {
  background: url('./assets/hero/iphone-11-pro/iphone_11_pro_large.jpg');
  margin-top: 4.4rem;
}

.title {
  color: white;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading {
  font-size: 5.6rem;
  line-height: 1.07143;
  letter-spacing: -.005rem;
}

.title-sub-heading {
  font-size: 2.65rem;
  margin-top: 1.6rem;
  letter-spacing: 0.008rem;
  font-weight: 400;
}

.title-price {
  font-size: 1.7rem;
  color: #888;
  margin-top: .68rem;
}

.cta {
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link {
  color: #68bbff;
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:nth-child(2) {
  margin-left: 2.6rem;
}

.cta-link:hover {
  border-bottom: 2px solid #68bbff;
}

/* End Top section style */

/* Middle section style */

.iphone-11 {
  background-image: url('./assets/hero/iphone-11/iphone_11_large.jpg');
}

.title-dark {
  color: black;
}

.cta-link-darker {
  color: #0070c9;
}

.cta-link-darker:hover {
  border-bottom-color: #0070c9;
}

/* End Middle section style */

/* keep at the bottom */

.hero {
  height: 69.2rem;
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
  border-top: .6rem solid white;
  border-bottom: .6rem solid white;
}

/* End */

/* Media Queries */

/* Screen biggest width === 1068 i.e between 768 and 1068 */
@media screen and (max-width: 1068px) {
  .iphone-11-pro {
    background: url('./assets/hero/iphone-11-pro/iphone_11_pro_medium.jpg');
  }

  .iphone-11 {
    background: url('./assets/hero/iphone-11/iphone_11_medium.jpg');
  }

  .hero {
    height: 65rem;
    background-size: auto 69.8rem;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .title-heading {
    font-size: 4.4rem;
  }

  .title-sub-heading {
    font-size: 2.2rem;
  }

  .cta-link:nth-child(2) {
    margin-left: 2rem;
  }
}

/* @ screen max width 767 i.e between 736 and 767 */

@media screen and (max-width: 767px) {

  /* Show mobile nav */
  header {
    height: 4.8rem;
    transition: background 1s cubic-bezier(0.32, 0.08, 0.24, 1),
      height .56s cubic-bezier(0.32, 0.08, 0.24, 1);
  }

  header .container {
    padding: 0;
  }

  .nav-list {
    margin-top: 0;
  }

  .nav-list-mobile {
    display: flex;
    margin: 0 5px;
  }

  .nav-item {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
  }

  .nav-item-hidden {
    display: none;
  }

  .mobile-menu {
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .line {
    position: absolute;
    width: 1.7rem;
    height: 1.5px;
    background-color: white;
    transition: margin-top .319s cubic-bezier(0.04, 0.04, 0.14, 0.96);
  }

  .line-top {
    margin-top: 3px;
  }

  .line-bottom {
    margin-top: -.5rem;
  }

  .active .line-top {
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform .319s .1s cubic-bezier(0.04, 0.04, 0.14, 0.96);
  }

  .active .line-bottom {
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform .319s .1s cubic-bezier(0.04, 0.04, 0.14, 0.96);
  }

  header.active {
    height: 100%;
    background: black;
  }

  .nav-link-apple {
    height: 4.8rem;
    width: 1.8rem;
    position: relative;
    z-index: 10000;
  }

  .nav-link-bag {
    width: 1.6rem;
    height: 4.8rem;
    transition: opacity 3s;
  }

  .nav {
    position: relative;
  }

  .nav-link {
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
  }

  .nav-list-large {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    z-index: 900;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    transition: opacity .3s;
  }

  .active .nav-list-large {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }

  /* when header is active bag goes away */
  .active .nav-link-bag {
    opacity: 0;
    transition: opacity .3s;
  }

  .nav-list-large .nav-item {
    width: 100%;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
  }

  .nav-list-large .nav-item:nth-child(9) {
    border-bottom: none;
  }

  .active .nav-list-large .nav-item {
    animation: fadeIn 1s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* End Mobile Nav */

  /* Section 11 pro */
  .iphone-11-pro {
    background: url('./assets/hero/iphone-11-pro/iphone_11_pro_small.jpg');
  }

  .iphone-11 {
    background: url('./assets/hero/iphone-11/iphone_11_small.jpg');
  }
}

/* screens from o to 735 */
@media screen and (max-width: 735px) {
  .hero {
    height: 50rem;
    background-size: auto 54.8rem;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .title {
    padding-top: 3.7rem;
  }

  .title-heading {
    font-size: 3.2rem;
  }

  .title-sub-heading {
    font-size: 1.9rem;
  }

  .title-watch {
    margin-top: -.5rem;
    margin-bottom: 0;
  }

  .title-price {
    font-size: 1.4rem;
  }

  .cta {
    margin-top: .7rem;
  }

  .cta-link {
    font-size: 1.9rem;
  }
}

/* End */